@font-face {
    font-family: 'OldSport02AthleticNcv';
    src: local('OldSport02AthleticNcv'), url(./fonts/OldSport02AthleticNcv.ttf) format('truetype');
}
@font-face {
    font-family: 'IndianPersonalUse';
    src: local('IndianPersonalUse'), url(./fonts/IndianPersonalUse.ttf) format('truetype');
}

* {
    box-sizing: border-box;
    /* border: 1px solid red; */
    /* font-family: 'OLD SPORT 02 ATHLETIC NCV'; */
}
.athleticFont {
    font-family: 'OLDSPORT02ATHLETICNCV';
}

.yellowBanner {
    background-color: #dca101;
    height: 100%;
}
.homeBackground{
    z-index: -3;
    position: absolute;
}

.homeText, .theWord {
    line-height: 1; 
}

.theWord {
    font-family: 'IndianPersonalUse', sans-serif;
    font-weight:lighter;
    margin-right: 20px;
    padding-left: 100px;
    padding-right: 20px;
    font-size: 175px;
}

.homeText{
    font-size: 120px;
    margin: 0;
}



.btnHome {
    color: white;
    background-color: #d22329;
    border: none;
    text-transform: uppercase;
    font-size: 34px;
    width: 12%;
    position: relative;
    z-index: 1;
    margin-top: 40%;
    border-radius: 40px;    
}
.btnHome:hover {
    color:  #d22329;
}

.btnStyle{
    text-transform: uppercase;
    font-size: 34px;
    font-weight: 700;
    height: 75px;
    color: white;
}
.btnStyle:hover {
    text-transform: uppercase;
    font-size: 34px;
    font-weight: 700;
    height: 75px;
    background-color: white;
}

.colorLogo {
    width: 225px;
    position: relative;
    right: 33.5%;
    z-index: 1;
    top: 325px;
}

.whiteLogoAwards {
    width: 125px;
    position: absolute;
    left: 46.5%;
    z-index: 2;
}

.awardIcon {
    width: 20%;
    margin-top: 175%;
    margin-left: 45%
}

.awardBackground {
    /* height: calc(500px + (700 - 500) * ((100vw - 300px) / (800 - 300)));
    width: calc(1000px + (1200 - 1000) * ((100vw - 300px) / (1600 - 300))); */
    height: 100%;
    /* width: 195vh; */
    /* position: relative; */
    width: 100%;
    background-repeat: no-repeat;
}


.awardBanner{
    /* height: calc(400px + (650 - 400) * ((100vw - 300px) / (1600 - 300))); */
    height: 100%;
    width: 100%;
    position: relative;
    /* margin-top: -10%; */
    background-repeat: no-repeat;
    /* background-size: cover; */
    
}
.awards {
    margin: 0 !important;
    padding: 0 !important;
}


.trophyName {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    background-color: #dca101;
    justify-self: flex-end;
    position: absolute;
    bottom: 0px;
    left: 325px; 
    width: 150px;
    height: 70%; 
    display: flex;
    border-radius: 0px 0px 75px 75px;    
}

.firstNameText {
    font-weight: lighter;
    font-size: 20px;
    letter-spacing: 10px;
    white-space: nowrap;
    line-height: .75;
    padding-top: 10px;
    margin-right: 15%;
    margin-top: -40%;
    position: relative;
}

.awardNameFull {
    font-size: 80px;
    font-weight: 400;
    line-height: .5;
    margin-right: 5%;
    margin-top: 5%;
    letter-spacing: 7px;
    position:relative;
    height: 550px;
}

.awardPageText {
    /* font-family: sans-serif; */
    font-size: 30px;
    font-weight: lighter;
}

.forMargin {
    padding-bottom:100px;
}

.backBtn {
    background-color: #dca101;
    font-weight: lighter;
    border-radius: 40px;
    width: 15%;
}

.historyBackground {
    background-color: #212529;
    position: absolute;
    z-index: -15;
    height: 100%;
    width: 100%;
}

.historyStuff{
    position: fixed;
    top: 0;
    left: 0;
}
.historyBanner{
    background-color: #dca101;
    max-width: 500px;
    border-radius: 0 325px 325px 0;
    margin-top: 25px;
    
}
.bannerFirstName {
    font-size: 20px;
    margin-left: 20px;
    letter-spacing: 5px;
    line-height: .75;
    padding-bottom: 10px;
    font-family: sans-serif;
}
.bannerFullName {
    font-size: 80px;
    margin-left: 15px;
    letter-spacing: 10px;
    line-height: .75;
    padding-bottom: 10px;
    padding-top: 18px;
}

.historyTrophyImage {
    max-width: 990px;
    margin-left: 475px;
    max-height: 990px;
}


.historyIcon {
    /* width: 10%; */
    margin-right: 1495px;
    max-width: 110px;
    /* max-height: 125px; */
    /* line-height: .5; */

}

.historySport {    
    margin-right: 1495px;
    font-size: 40px;
    line-height: .75;
    
}
.historySubSport {
    margin-right: 1495px;
    font-size: 24px;
    font-family: sans-serif;
    letter-spacing: 5px;
    line-height: .5;
}

.iconContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 150px;
    margin-left: 80px;
    
    
}
.btnStyleHistory{
    text-transform: uppercase;
    font-size: 34px;
    font-weight: 700;
    width: 20%;
    height: 75px;
    border-radius: 40px;
    color: white;
    margin-left: -75px;
    background-color:  #d22329;
 }

 .btnStyleHistory1{
    text-transform: uppercase;
    font-size: 28px;
    font-weight: 200;
    width: 20%;
    height: 75px;
    border-radius: 40px;
    color: white;
    margin-left: -75px;
    background-color: #dca101;
    
 }

 .buttonContainer {
    display: flex;
    flex-direction: column;
    margin-left: 160px;
    margin-top: 50px;
    
}

.stretched {
    width: 30%; 
    left: 0;
}
.stretchedContainer {
    justify-content: flex-start;
    display: flex;
    flex-direction: column;
    margin-left: 0px;
    margin-top: 50px;
    text-align: left;
}
.stretchedIconContainer {
    display: flex;
    margin-left: 25px;
    margin-top: 200px;
}

.yearComponent{
    background-color: #dca101;
    font-weight: 600;
    font-size: 20px;
    color: white;
    left: 690px;
    bottom: 600px;
    width: 1200px;
    border-radius: 25px 0 0 25px ;

}
.yearCardTitle {
    font-weight: 600;
    font-size: 40px;
}
.yearLinks {
    margin-left: 75px;
    text-decoration: none;
    font-size: 80px;
    font-weight: 400;
    background-color: white;
    color: #dca101;
    width: 45%;
    border-radius: 50%;
}
.yearLinks:hover {
    /* margin-left: 75px; */
    text-decoration: none;
    font-size: 80px;
    font-weight: 400;
    background-color: #dca101;
    color: white;
}
.historyComponent{
    background-color: #dca101;
    color: white;
    /* bottom: 600px;  */
    left: 690px;
    width: 1200px;
    border-radius: 45px 0 0 45px ;
    margin-top: -655px; 
    position: fixed;
    color: #d0152c;
}
.historyComponentTitle {
    font-size: 40px;
}

.awardHistoryText {
    font-size: 20px;
    font-family: sans-serif !important;
    text-transform: none !important;      
    text-decoration: none;
    font-weight: 600;
}

.historyButton{
    background-color: #dca101;
    border-radius: 40px;
}
.historyImage {
    max-height: 760px;
    border-radius: 45px 0 0 45px ;
}


 .whiteLogo {
    width: 100px;
    position: relative;
    z-index: 1;
    margin-right: 10px;
    margin-top: 10px;
}

.yearWinnerImage {
    height: 100vh;;
    max-height: 100vh;
}

.yearWinnerBanner{
    background-color: #dca101;
    width: 900px;
    margin-top: 25px;
    border-radius: 0 450px 450px 0;
    justify-content: space-between;
    /* display: flex; */
    margin-left: -12px;
}
.yearBannerText {
    font-size: 110px;
    font-weight: 800;
/*     margin-left: 20px; */
    letter-spacing: 10px;
    line-height: .75;
}
.yearBannerYear{
    font-size: 40px;
    font-weight: lighter;
/*     margin-left: 20px; */
    letter-spacing: 5px;
    line-height: .75;
    font-family: sans-serif;
}
.sponsorLogo {
    width: 200px;
    max-width: 200px;
    max-height: 120px; 
}

.bannerIcon {
    width: 15%;
    /* margin-bottom: 5%; */
}
.schoolLogo {
    height: 250px;
}

.yearWinnerText {
    font-size: 60px;
    white-space: nowrap;
    letter-spacing: 5px;
}
.yearWinnerSubText {
    font-size: 50px;
    font-weight: lighter;
    letter-spacing: 10px;
    line-height: .75;
    font-family: sans-serif;
    white-space: nowrap;
}

.finalistsComponent{
    background-color: #dca101;
    bottom: 600px;
    width: 1100px;
    right: 382px;
    border-radius: 25px 0 0 25px ;
    margin-top: 50px;
    max-height: 500px;

}
.row-flex {
    display: flex;
    align-items: left;

}

.finalistsTitle {
    font-size: 60px;
    color: #d0152c;
    /* font-weight: 600; */
}
.finalistsName {
    font-size: 50px;
    font-weight: 200;
    margin-left: 50px;
    font-family: sans-serif;
    line-height: .75;
}
.finalistsInfo {
    font-size: 35px;
    align-items: baseline;
    font-family: sans-serif;
}

.redStats {
    background-color:  #d22329;
    border-radius: 25px 0 0 25px ;
}

.goldStats {
    background-color: #dca101;
}


.yellowBtn{
    background-color: #dca101;
    font-weight: lighter;
    border-radius: 40px;
}
.yellowBtn1{
    background-color: #dca101;
    font-weight: lighter;
    border-radius: 40px;
    font-size: 26px;
}

.winnerInfo {
    margin-left: 50px;
    margin-top: 50px;
}

.buttonContainerWinner {
    display: flex;
    flex-direction: column;
    margin-left: 100px;
}
.winnerButton {
    background-color: #d22329;
    border-radius: 40px;
}
.winnerButton1 {
    background-color: #d22329;
    border-radius: 0 40px 40px 0;
}
.winnerButton2 {
    background-color:  #dca101;
    border-radius: 0 40px 40px 0;
}
.profileButton {
    background-color: #dca101;
    border-radius: 0 40px 40px 0;
}
.profileInfo {
    margin-left: 25px;
    margin-top: 100px;
    
}   
.profileContainer {
    justify-content: flex-start;
    display: flex;
    flex-direction: column;
    margin-left: -30px;
    margin-top: -150px;
    width: 30%; 
    left: 0;
}

.jerseyStyle {
    position: absolute;
    z-index: 1;
}

.jerseyNum {
    position: relative;
    z-index:3;
    height: 300px;
    font-size: 130px;
    color: #d22329;
    /* margin-left: 20px; */
    text-align: center;
    top: 20px;
    padding-top:15px;
}

.yellowBtnProfile{
    background-color: #dca101;
    font-weight: lighter;
    border-radius: 0 40px 40px 0;
    font-size: 26px;
}
.statsComponent {
    max-width: 1200px;
    /* max-height: 600px; */
    border-radius: 25px 0 0 25px ;
}

.componentButton {
    color: #dca101;
    background-color: white;
    z-index: 2;
}
.statComponentButton {
    color: #d22329;
    background-color: white;
}

.profileSchoolLogo {
    width: 120px;
    height: 80px;
    max-width: 200px;
    max-height: 200px;
    line-height: .5;
}

.profileText {
    font-size: 30px;
    white-space: nowrap;
    letter-spacing: 5px;
    line-height: .5;
}
.profileSubText {
    font-size: 25px;
    font-weight: lighter;
    letter-spacing: 10px;
    line-height: .75;
    font-family: sans-serif;
    white-space: nowrap;
}
.athleteName{
    font-size: 40px;
    line-height: .75;
    text-align: center;

}
.statsTitle{
    font-size: 60px;
    line-height: .5;
    text-align: center;
    color: #d0152c;
}
.quote{
    line-height: .75;
}

.jerseyNumWhite {
    position: relative;
    z-index:3;
    height: 300px;
    font-size: 150px;
    color: #ffffff;  
    margin-left: 17px;
    top: 15px;
}

.historyScroll {
    font-size: 25px;
    color: #d0152c;
    font-weight: 600;
}

.historyScroll::-webkit-scrollbar {
    width: 12px;
}

.historyScroll::-webkit-scrollbar-thumb {
    background-color: white;
    border-radius: 10%
}

.video-modal {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.9); 
    z-index: 1000; 
  }
  
  .video-modal-content {
    width: 90%; 
    height: 90%; 
    position: relative; 
  }
  
  .close-video-modal {
    position: absolute;
    top: 10px;
    right: 10px;
    border: none;
    background-color: transparent;
    color: white;
    font-size: 1.5em;
    cursor: pointer;
  }
  
  iframe {
    width: 100%;
    height: 100%;
    border: none; 
  }

  .highlight-component {
    background-color: #dca101; 
    font-weight: 600;
    font-size: 20px;
    color: white;
    width: 1300px; 
    border-radius: 25px 0 0 25px;
    margin-left: 600px; 
    margin-top: -625px; 
}

.statsTitle {
    font-weight: 600;
    font-size: 40px;
    text-align: center;
    color:#d0152c;
}

.highlight-item {
    /* background-color: white;  */
    background-color: #dca101;
    color: #dca101; 
    text-align: center; 
    border-radius: 50%; 
    margin-bottom: 3px;
    cursor: pointer; 
} 

.highlight-item:hover {
    background-color: #dca101; 
    color: white; 
}

.btn.btn-light.position-absolute.top-0.end-0 {
    color: #dca101;
    background-color: white;
    border: none;
}

.video-thumb {
    border-radius: 50%; 
}

.highlight-title {
    font-size: 30px;
    font-weight: 900;
    margin-top: 5px;
    color: #d0152c;
    /* color: white; */
    /* color: #dca101; */
}

.historyScroll {
    overflow-y: auto;
    max-height: 400px;
}

