@import url(//db.onlinewebfonts.com/c/3c8d73b6445ba908ca25b544c44f01d6?family=OLD+SPORT+02+ATHLETIC+NCV);
@font-face {font-family: "OLD SPORT 02 ATHLETIC NCV"; src: url("//db.onlinewebfonts.com/t/3c8d73b6445ba908ca25b544c44f01d6.eot"); src: url("//db.onlinewebfonts.com/t/3c8d73b6445ba908ca25b544c44f01d6.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/3c8d73b6445ba908ca25b544c44f01d6.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/3c8d73b6445ba908ca25b544c44f01d6.woff") format("woff"), url("//db.onlinewebfonts.com/t/3c8d73b6445ba908ca25b544c44f01d6.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/3c8d73b6445ba908ca25b544c44f01d6.svg#OLD SPORT 02 ATHLETIC NCV") format("svg"); }

* {
    font-family: 'OLD SPORT 02 ATHLETIC NCV';
    
}

.yellowBanner {
    background-color: goldenrod;
    height: 100%;
}
.homeBackground{
    z-index: -3;
    position: absolute;
}


.theWord {
    font-family: 'Brush Script MT', cursive;
    font-size: 300px;
    font-weight:lighter;
    margin-right: 30px;
}

.homeText{
    font-size: 100px;
}

.btn-danger {
    color: white;
    background-color: red;
    border: none;
    width: 12%;
}
.btn-danger.active {
    background-color: red;
}

.btnStyle{
    text-transform: uppercase;
    font-size: 34px;
    font-weight: 700;
    width: 15%;
  height: 75px;
  border-radius: 40px;
  color: white;
}

.colorLogo {
    width: 150px;
    position: relative;
    right: 33.5%;
    z-index: 1;
    top: 400px;
}
.awardContainer {
    position: relative;
    width: 100%;
    height: 100%;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    
}

.whiteLogoAwards {
    width: 125px;
    position: relative;
    left: 43.5%;
    z-index: 1;
}

.awardIcon {
    width: 25%;
    margin-top: 215%;
    margin-left: 40%
}

.awardBackground {
    height: calc(500px + (700 - 500) * ((100vw - 300px) / (800 - 300)));
    width: calc(1000px + (1200 - 1000) * ((100vw - 300px) / (1600 - 300)));
    position: absolute;
}

/* .awards {
    height: calc(400px + (700 - 400) * ((100vw - 300px) / (1600 - 300)));

} */

.award-banner{
    height: calc(400px + (650 - 400) * ((100vw - 300px) / (1600 - 300)));
}
.trophyNameContainer {
    position: absolute; /* Adjust as needed */
    bottom: 0px;
    left: 50px; /* Position this where it needs to be */
    width: 500px; /* Adjust as needed */
    height: 75%; /* 3/4 of the banner */
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-size: 40px;
}

.trophyName {
    writing-mode: vertical-rl;
    text-orientation: mixed;
    transform: rotate(180deg);
    background-color: goldenrod;
    justify-self: flex-end;
    position: absolute;
    bottom: 0px;
    left: 145px; /* Position this where it needs to be */
    width: 110px; /* Adjust as needed */
    height: 75%; /* 3/4 of the banner */
    display: flex;
}

.firstNameText {
    font-weight: lighter;
    font-size: 20px;
    margin-left: 5%;
}

.awardNameFull {
    font-size: 45px;
    font-weight: 400;
}
.historyBanner{
    background-color: goldenrod;
    max-width: 550px;
    border-radius: 30%;
    margin-top: 25px;
    
}
.bannerFirstName {
    font-size: 20px;
}
.bannerFullName {
    font-size: 80px;
    left: 10px;
}

.historyIcon {
    width: 10%;
    margin-left: -1100px;
    top: 50%;
}
.historySport {
    margin-left: -1100px;
}
.historySubSport {
    margin-left: -1300px;
}

.btnStyleHistory{
    text-transform: uppercase;
    font-size: 34px;
    font-weight: 700;
    width: 25%;
    height: 75px;
    border-radius: 40px;
    color: white;
    margin-left: -75px;
 }
.btnStyleHistory:hover {
    background-color: goldenrod !important;
}
.btnStyleHistory1:hover {
    background-color: goldenrod !important;
}
 .btnStyleHistory1{
    text-transform: uppercase;
    font-size: 34px;
    font-weight: 700;
    width: 25%;
    height: 75px;
    border-radius: 40px;
    color: white;
    margin-left: -75px;
    
 }

 .buttonContainer {
    display: flex;
    flex-direction: column;
    margin-left: 100px;
    margin-top: 250px;
}

.yearComponent{
    background-color: goldenrod;
    font-weight: 600;
    font-size: 20px;
    color: white;
    left: 500px;
    bottom: 700px;
    width: 900px;

}
.yearCardTitle {
    font-weight: 600;
    font-size: 40px;
}
.yearLinks {
    margin-left: 75px;
    font-size: 80px;
    font-weight: 400;
    background-color: goldenrod;
    color: white;
}
.historyComponent{
    background-color: goldenrod;
    color: white;
    top: -700px;
    left: 550px;
    width: 860px;
}
.historyComponentTitle {
    font-size: 40px;
}
.historyButton{
    background-color: goldenrod;
}


 .whiteLogo {
    width: 125px;
    position: relative;
    z-index: 1;
    margin-right: 25px;
    margin-top: 25px;
} 

.yearWinnerBanner{
    background-color: blue;
    width: 800px;
    margin-top: 25px;
}
.yearBannerText {
    font-size: 80px;
    font-weight: 800;
    margin-left: 20px;
}
.yearBannerYear{
    font-size: 30px;
    font-weight: lighter;
    margin-left: 20px;
}
.sponsorLogo {
    max-width: 25%; /* This will limit the width to be 100% of its container */
    max-height: 60px; /* Set this to whatever maximum height you want */
}

.bannerIcon {
    width: 15%;}

.schoolLogo {
    max-width: 200px;
    max-height: 200px;
}

.yearWinnerText {
    font-size: 60px;
    margin-left: 20px;
}
.yearWinnerSubText {
    font-size: 40px;
    font-weight: lighter;
    margin-left: 20px;
}

.profileButton {
    background-color: blue;
}

.finalistsComponent{
    background-color: goldenrod;
    font-weight: 400;
    font-size: 20px;
    bottom: 600px;
    width: 750px;
    right: 100px;
}

.blueStats {
    background-color: blue;
}

.redStats {
    background-color: red;
}

.full-bg {
    height: 100vh;
}

.yearBtn{
    background-color: goldenrod;
}
.historySport{ 
    font-size: 50px;
    font-weight: 500;
}
.historySubSport{
    font-size: 30px;
}

/* Width
::-webkit-scrollbar {
    width: 50px;
}

/* Track 
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle 
::-webkit-scrollbar-thumb {
    background: url('path_to_your_football_icon') no-repeat center;
    background-size: cover;
} */