@import url(//db.onlinewebfonts.com/c/3c8d73b6445ba908ca25b544c44f01d6?family=OLD+SPORT+02+ATHLETIC+NCV);
@font-face {font-family: "OLD SPORT 02 ATHLETIC NCV"; src: url("//db.onlinewebfonts.com/t/3c8d73b6445ba908ca25b544c44f01d6.eot"); src: url("//db.onlinewebfonts.com/t/3c8d73b6445ba908ca25b544c44f01d6.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/3c8d73b6445ba908ca25b544c44f01d6.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/3c8d73b6445ba908ca25b544c44f01d6.woff") format("woff"), url("//db.onlinewebfonts.com/t/3c8d73b6445ba908ca25b544c44f01d6.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/3c8d73b6445ba908ca25b544c44f01d6.svg#OLD SPORT 02 ATHLETIC NCV") format("svg"); }

* {
    box-sizing: border-box;
    /* font-family: 'OLD SPORT 02 ATHLETIC NCV'; */
}
.athleticFont {
    font-family: 'OLD SPORT 02 ATHLETIC NCV';
}

.yellowBanner {
    background-color: #dca101;
    height: 100%;
}
.homeBackground{
    z-index: -3;
    position: absolute;
}

.homeText, .theWord {
    line-height: 1; 
}

.theWord {
    font-family: 'Indian Personal Use', sans-serif;
    font-weight:lighter;
    margin-right: 20px;
    padding-left: 100px;
    padding-right: 20px;
    font-size: 175px;
}

.homeText{
    font-size: 120px;
    margin: 0;
}



.btnHome {
    color: white;
    background-color: #d22329;
    border: none;
    text-transform: uppercase;
    font-size: 34px;
    width: 12%;
    position: relative;
    margin-bottom: 200px;
    z-index: 1;
    margin-top: 75px;
    border-radius: 40px;    
}
.btnHome:hover {
    color:  #d22329;
}

.btnStyle{
    text-transform: uppercase;
    font-size: 34px;
    font-weight: 700;
    height: 75px;
    color: white;
}
.btnStyle:hover {
    text-transform: uppercase;
    font-size: 34px;
    font-weight: 700;
    height: 75px;
    background-color: white;
}

.colorLogo {
    width: 225px;
    position: relative;
    right: 33.5%;
    z-index: 1;
    top: 325px;
}
/* .awardContainer {
    position: absolute;
    width: 100%;
    height: 100%;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
} */

.whiteLogoAwards {
    width: 125px;
    position: absolute;
    left: 46.5%;
    z-index: 2;
}

.awardIcon {
    width: 20%;
    margin-top: 185%;
    margin-left: 45%
}

.awardBackground {
    /* height: calc(500px + (700 - 500) * ((100vw - 300px) / (800 - 300)));
    width: calc(1000px + (1200 - 1000) * ((100vw - 300px) / (1600 - 300))); */
    height: 98vh;
    /* width: 195vh; */
    position: absolute;
    width: 100vw;
}



.award-banner{
    /* height: calc(400px + (650 - 400) * ((100vw - 300px) / (1600 - 300))); */
    height: 950px;
    width: 100%;
}
.trophyNameContainer {
    position: absolute; /* Adjust as needed */
    bottom: 0px;
    left: 218px; /* Position this where it needs to be */
    width: 500px; /* Adjust as needed */
    height: 75%; /* 3/4 of the banner */
    display: flex;
    justify-content: center;
    font-size: 40px;
}

.trophyName {
    writing-mode: vertical-rl;
    text-orientation: mixed;
    transform: rotate(180deg);
    background-color: #dca101;
    justify-self: flex-end;
    position: absolute;
    bottom: 0px;
    left: 95px; /* Position this where it needs to be */
    width: 150px; /* Adjust as needed */
    height: 75%; /* 3/4 of the banner */
    display: flex;
    border-radius: 0px 0px 75px 75px;    
}

.firstNameText {
    font-weight: lighter;
    font-size: 20px;
    letter-spacing: 10px;
    white-space: nowrap;
    line-height: .75;
    padding-top: 10px;
}

.awardNameFull {
    font-size: 80px;
    font-weight: 400;
    line-height: .5;
    margin-right: 75px;
    margin-top: -100px; 
    letter-spacing: 7px;
    position:relative;


}

.historyBackground {
    background-color: #212529;
    position: absolute;
    z-index: -15;
    height: 100%;
    width: 100%;
}

.historyStuff{
    position: fixed;
    top: 0;
    left: 0;
}
.historyBanner{
    background-color: #dca101;
    max-width: 500px;
    border-radius: 0 325px 325px 0;
    margin-top: 25px;
    
}
.bannerFirstName {
    font-size: 20px;
    margin-left: 20px;
    letter-spacing: 5px;
    line-height: .75;
    padding-top: 8px;
    font-family: sans-serif;
}
.bannerFullName {
    font-size: 80px;
    margin-left: 15px;
    letter-spacing: 10px;
    line-height: .75;
    padding-bottom: 10px;
}

.historyTrophyImage {
    max-width: 990px;
    margin-left: 475px;
    max-height: 990px;
}


.historyIcon {
    /* width: 10%; */
    margin-right: 1495px;
    max-width: 110px;
    /* max-height: 125px; */
    /* line-height: .5; */

}

.historySport {    
    margin-right: 1495px;
    font-size: 40px;
    line-height: .75;
    
}
.historySubSport {
    margin-right: 1495px;
    font-size: 24px;
    font-family: sans-serif;
    letter-spacing: 5px;
    line-height: .5;
}

.iconContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 150px;
    margin-left: 80px;
    
}
.btnStyleHistory{
    text-transform: uppercase;
    font-size: 34px;
    font-weight: 700;
    width: 20%;
    height: 75px;
    border-radius: 40px;
    color: white;
    margin-left: -75px;
    background-color:  #d22329;
 }

 .btnStyleHistory1{
    text-transform: uppercase;
    font-size: 28px;
    font-weight: 200;
    width: 20%;
    height: 75px;
    border-radius: 40px;
    color: white;
    margin-left: -75px;
    background-color: #dca101;
    
 }

 .buttonContainer {
    display: flex;
    flex-direction: column;
    margin-left: 160px;
    margin-top: 50px;
    
}

.stretched {
    width: 30%; 
    left: 0;
}
.stretchedContainer {
    justify-content: flex-start;
    display: flex;
    flex-direction: column;
    margin-left: 0px;
    margin-top: 50px;
    text-align: left;
}
.stretchedIconContainer {
    display: flex;
    margin-left: 25px;
    margin-top: 200px;
}

.yearComponent{
    background-color: #dca101;
    font-weight: 600;
    font-size: 20px;
    color: white;
    left: 690px;
    bottom: 600px;
    width: 1200px;
    border-radius: 25px 0 0 25px ;

}
.yearCardTitle {
    font-weight: 600;
    font-size: 40px;
}
.yearLinks {
    margin-left: 75px;
    text-decoration: none;
    font-size: 80px;
    font-weight: 400;
    background-color: white;
    color: #dca101;
    width: 45%;
    border-radius: 50%;
}
.yearLinks:hover {
    /* margin-left: 75px; */
    text-decoration: none;
    font-size: 80px;
    font-weight: 400;
    background-color: #dca101;
    color: white;
}
.historyComponent{
    background-color: #dca101;
    color: white;
    /* bottom: 600px;  */
    left: 690px;
    width: 1200px;
    border-radius: 45px 0 0 45px ;
    margin-top: -655px; 
    position: fixed;
}
.historyComponentTitle {
    font-size: 40px;
}

.awardHistoryText {
    font-size: 18px;
    font-family: sans-serif !important;
    text-transform: none !important;      
    text-decoration: none;
    font-weight: lighter;
}

.historyButton{
    background-color: #dca101;
    border-radius: 40px;
}
.historyImage {
    max-height: 760px;
    border-radius: 45px 0 0 45px ;
}


 .whiteLogo {
    width: 100px;
    position: relative;
    z-index: 1;
    margin-right: 10px;
    margin-top: 10px;
}

.yearWinnerImage {
    height: 100vh;;
    max-height: 100vh;
}

.yearWinnerBanner{
    background-color: #dca101;
    width: 900px;
    margin-top: 25px;
    border-radius: 0 450px 450px 0;
    justify-content: space-between;
    /* display: flex; */
    margin-left: -12px;
}
.yearBannerText {
    font-size: 110px;
    font-weight: 800;
    margin-left: 20px;
    letter-spacing: 10px;
    line-height: .75;
}
.yearBannerYear{
    font-size: 40px;
    font-weight: lighter;
    margin-left: 20px;
    letter-spacing: 5px;
    line-height: .75;
    font-family: sans-serif;
}
.sponsorLogo {
    width: 200px;
    max-width: 200px;
    max-height: 120px; 
}

.bannerIcon {
    width: 15%;
    /* margin-bottom: 5%; */
}
.schoolLogo {
    width: 200px;
    height: 140px;
    max-width: 200px;
    max-height: 200px;
}

.yearWinnerText {
    font-size: 60px;
    white-space: nowrap;
    letter-spacing: 5px;
}
.yearWinnerSubText {
    font-size: 50px;
    font-weight: lighter;
    letter-spacing: 10px;
    line-height: .75;
    font-family: sans-serif;
    white-space: nowrap;
}

.finalistsComponent{
    background-color: #dca101;
    bottom: 600px;
    width: 1100px;
    right: 382px;
    border-radius: 25px 0 0 25px ;
    margin-top: 100px;
}
.row-flex {
    display: flex;
    align-items: left;

}

.finalistsTitle {
    font-size: 60px;
    /* font-weight: 600; */
}
.finalistsName {
    font-size: 50px;
    font-weight: 200;
    margin-left: 50px;
    font-family: sans-serif;
    line-height: .75;
}
.finalistsInfo {
    font-size: 35px;
    align-items: baseline;
    font-family: sans-serif;
}

.redStats {
    background-color:  #d22329;
    border-radius: 25px 0 0 25px ;
}

.goldStats {
    background-color: #dca101;
}


.yellowBtn{
    background-color: #dca101;
    font-weight: lighter;
    border-radius: 40px;
}
.yellowBtn1{
    background-color: #dca101;
    font-weight: lighter;
    border-radius: 40px;
    font-size: 26px;
}

.winnerInfo {
    margin-left: 50px;
    margin-top: 50px;
}

.buttonContainerWinner {
    display: flex;
    flex-direction: column;
    margin-left: 100px;
}
.winnerButton {
    background-color: #d22329;
    border-radius: 40px;
}
.winnerButton1 {
    background-color: #d22329;
    border-radius: 0 40px 40px 0;
}
.profileButton {
    background-color: #dca101;
    border-radius: 0 40px 40px 0;
}
.profileInfo {
    margin-left: 25px;
    margin-top: 100px;
    
}   
.profileContainer {
    justify-content: flex-start;
    display: flex;
    flex-direction: column;
    margin-left: -30px;
    margin-top: 150px;
    width: 30%; 
    left: 0;
}

.jerseyStyle {
    position: absolute;
    z-index: 1;
}

.jerseyNum {
    position: relative;
    z-index:3;
    height: 300px;
    font-size: 150px;
    color: #d22329;
    /* margin-left: 20px; */
    text-align: center;
    top: 20px;

}

.yellowBtnProfile{
    background-color: #dca101;
    font-weight: lighter;
    border-radius: 0 40px 40px 0;
    font-size: 26px;
}
.statsComponent {
    max-width: 1200px;
    max-height: 400px;
    margin-left: 800px;
    margin-top: -650px;
    border-radius: 25px 0 0 25px ;
}

.componentButton {
    color: #dca101;
    background-color: white;
    z-index: 2;
}
.statComponentButton {
    color: #d22329;
    background-color: white;
}

.profileSchoolLogo {
    width: 120px;
    height: 80px;
    max-width: 200px;
    max-height: 200px;
    line-height: .5;
}

.profileText {
    font-size: 30px;
    white-space: nowrap;
    letter-spacing: 5px;
    line-height: .5;
}
.profileSubText {
    font-size: 25px;
    font-weight: lighter;
    letter-spacing: 10px;
    line-height: .75;
    font-family: sans-serif;
    white-space: nowrap;
}
.athleteName{
    font-size: 40px;
    line-height: .75;
    text-align: center;

}
.statsTitle{
    font-size: 60px;
    line-height: .5;
    text-align: center;
}
.quote{
    line-height: .75;
}

.jerseyNumWhite {
    position: relative;
    z-index:3;
    height: 300px;
    font-size: 150px;
    color: #ffffff;  /* Adjust color as needed */
    margin-left: 17px;
    top: 15px;
}

.historyScroll::-webkit-scrollbar {
    width: 12px;
}

.historyScroll::-webkit-scrollbar-thumb {
    background-color: white;
    border-radius: 10%
}